<nav class="navbar navbar-expand-md navbar-light navbar-laravel">
    
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
    
        <span class="dark-blue-text">
        <i class="fas fa-bars"></i>
    </span></button> 

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="dropdown">
                    <a id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" class="dropdown-toggle">Registration </a> 
                    <div aria-labelledby="dropdownMenuButton1" class="dropdown-menu dropdown-menu-right">
                        <a href="/trademark-registration-in-united_states" class="dropdown-item">
                            <img src="http://trademarkers.staging.test/images/countries/us.png">
                            United States
                        </a> 
                        <a href="/trademark-registration-in-taiwan" class="dropdown-item">
                            <img src="http://trademarkers.staging.test/images/countries/tw.png">
                            Taiwan
                        </a> 
                    </div>
                </div>
            </li> 
            <li class="nav-item">
                <a href="/prices">Pricing</a>
            </li> 
            <li class="nav-item">
                <div class="dropdown">
                    <a id="servicedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" class="dropdown-toggle">
                        Services 
                    </a> 
                    <div aria-labelledby="servicedropdown" class="dropdown-menu dropdown-menu-right">
                        <a href="/countries" class="dropdown-item">
                            Trademark Study
                        </a> 
                        <a href="/countries" class="dropdown-item">
                            Trademark Registration
                        </a> 
                        <a href="/services" class="dropdown-item">
                            Other Services
                        </a>
                    </div>
                </div>
            </li> 
            <li class="nav-item">
                <div class="dropdown">
                    <a id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" class="dropdown-toggle">
                        Resources 
                    </a> 
                    <div aria-labelledby="dropdownMenuButton2" class="dropdown-menu dropdown-menu-right">
                        <a href="/classes" class="dropdown-item">
                            NICE Classes
                        </a> 
                        <a href="/resources" class="dropdown-item">
                            Resources
                        </a>
                    </div>
                </div>
            </li> 
            <li class="nav-item">
                <a href="/contact">
                    Contact
                </a>
            </li> 
            <li class="nav-item">
                <div class="dropdown">
                    <a id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" class="dropdown-toggle">
                        About 
                    </a> 
                    <div aria-labelledby="dropdownMenuButton2" class="dropdown-menu dropdown-menu-right">
                        <a href="/about" class="dropdown-item">About</a> 
                        <a href="/terms" class="dropdown-item">Terms and Conditions</a> 
                        <a href="/privacy" class="dropdown-item">Privacy Policy</a> 
                        <a href="/service_contract" class="dropdown-item">Service Contract</a> 
                        <a href="/cookies" class="dropdown-item">Cookies Policy</a> 
                        <a href="https://www.trademarkers.com/blog/" class="dropdown-item">Blog</a>
                    </div>
                </div>
            </li>

        </ul>

    </div>

</nav> 

<div id="contact">
    <div id="accordionExample">
        <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="btn btn-transparent">
            Contact Us
        </button>
    </div>
</div> 
<ul class="header-nav">
    <li class="nav-item">
        <a href="http://trademarkers.staging.test/login" class="nav-link">Login</a>
    </li>
</ul>
