.bg-default{
    background: url('/images/v2-assets/default-top-bg.svg');
    background-position: center bottom;
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    height: 60vh;
    z-index: -1;
}

.bg-welcome{
    background: url('/images/v2-assets/default-top-bg-v1.svg'), url('/images/v2-assets/default-top-bg-v1.png') ;
    background-position: center bottom;
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: -1;
}
.block-welcome-1{

    // background: url('/images/v2-assets/default-top-bg-v1.svg'), url('/images/v2-assets/default-top-bg-v1.png') ;
    background-position: center bottom;
    background-repeat: repeat-x;
    position : relative;
    margin: 0 0 30px;
    padding: 20% 0 10%;
    background-size: 100%;
    @media (min-width: 768px){
        min-height: 690px;
    }

    @media (max-width: 768px){
        padding: 0;
    }
}

.block-welcome{

    background: url('/images/v2-assets/fold-curve-1v2.png'), transparent linear-gradient(246deg, #00C6FF 0%, #0072FF 100%) 0% 0% no-repeat padding-box;
    background-position: center bottom;
    background-repeat: repeat-x;
    position : relative;
    margin : 0px;

    padding : 8% 0 10%;
    background-size: 100%;

    .overlayBlur{

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        // background: #fff;
        
    }

    .overlayBlur1{
  
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        // background: #fff;
        
        filter: blur(5px);
        opacity: 0.4;
    }

    .overlayBlur2{
        background-image: url('/images/welcome-e.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;


        filter: blur(5px);
        opacity: 0.6;

    }

    .overlayBlur3{
        background-image: url('/images/welcome-e.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
   
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        


        filter: blur(5px);
        opacity: 0.8;

    }

    .overlayBlur4{
        background-image: url('/images/welcome-e.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;


        filter: blur(7px);
        opacity: 0.6;
    }

    .overlayBlur5{
        background-image: url('/images/welcome-e.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;


        filter: blur(7px);
        opacity: 0.4;
    }

    .circle-1{
        position: absolute;
        top: 1px;
        left: -70px;
        width: 300px;
        height: 300px;
        background: transparent linear-gradient(226deg, #6DD5ED 0%, #4B81EB 100%) 0% 0% no-repeat padding-box;
        opacity: 0.2;
        border-radius: 157px;
        z-index: 0;
    }

    .circle-2{
        position: absolute;
        top: 55px;
        right: -70px;
        width: 450px;
        height: 450px;
        background: transparent linear-gradient(226deg, #6DD5ED 0%, #4B81EB 100%) 0% 0% no-repeat padding-box;
        opacity: 0.3;
        border-radius: 228px;
        z-index: 0;
    }

    .send-up{
        position: relative;
        z-index: 2;
    }
}



.bg-darker{
    position: absolute;
    top : 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.network-box{
    // background: rgba(0, 0, 0, 0.5);
    // position: relative;
    // top: 100px;
    // left: 5%;
    // max-width: 500px;
    // margin-left: auto;
    // border-radius: 4px;
    padding: 15px 0 0 0;
    color: #fff;
    z-index: 2;

    h2{
        // text-align: center;
        font-size: 38px;
        // line-height: 64px;
        color: #fff;
        font-weight: 500;
        max-width: 800px;
        margin: auto;

        @media (max-width: 768px){
            font-size: 20px;
        }
    }
    p{
        font-size: 18px;
        line-height: 31px;
        color: #fff;
        margin: auto;
        padding-top: 20px;
        font-weight: 300;
    }
    // separator
    .title-separator{
        margin: 0px auto 40px;
    }
}

.title-separator{
    display: inline-block;
    height:4px;
    width: 150px;
    top: -20px;
    position: relative;
    border-radius: 40px;
    background: transparent linear-gradient(268deg, #6DD5ED 0%, #4180EB 100%) 0% 0% no-repeat padding-box;
    // margin: 0px auto 40px;
}

.network-box-form{

    position: relative;
    margin : auto;
    padding: 15px;
    z-index: 1;

    background: #fff;


    h5 {
        text-align: center;
        font-size: 30px;
        color: #000;
        max-width: 313px;
        margin: auto;
        
        span{
            display: inline-block;
            height:4px;
            width: 150px;
            top: -20px;
            position: relative;
            border-radius: 40px;
            background: transparent linear-gradient(268deg, #6DD5ED 0%, #4180EB 100%) 0% 0% no-repeat padding-box;
        }
    }
    .box-search-rounded-select{
        background: url(/images/arrows.png) no-repeat 20px center #fff;
        border-radius: 30px;
        padding: 20px;
        border: 1px solid #eaeaec;
        max-width: 300px;
        margin: auto;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color : #E4F5FF;
        }
    }

    .continentsToggle{

        margin: 0;
        padding: 0;
        text-align: center;

        li{
            list-style: none;
            padding: 10px;
            display: inline;
            color: #C7C7C7;
            font-size: 20px;
            &:hover {
                background : #E4F5FF;
            }
        }
    }

    .country-contents{
        margin-bottom: -40px;
        margin-top: 40px;
        max-width: 800px;
        margin: auto;
        padding-top: 40px;
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
    }

   
    .continent{
        display: none;
        justify-content: flex-end;

        &.show{
            display: flex;
        }

        a{
            color: #686868;
            text-decoration: none;
            display: block;
            padding: 6px;
            border-radius: 20px;
            font-size: 12px;

            &:hover {
                text-decoration: none;
                background : #E4F5FF;
            }
        }
    }
    
}

.bg-video{
    background: url('/images/v2-assets/videos-bg.svg');
    background-size: auto 870px;
    background-repeat: repeat-x;
    background-position: center top;

    @media (max-width: 768px){
        background-size: cover;
    }
}


.about-bg{
    background: url('/images/v2-assets/h-2-bg.svg');
    background-size: auto 870px;
    background-repeat: repeat-x;
    background-position: center top;
}
.about-block{

    

    padding : 15% 0 40px;
    position: relative;

    @media (max-width: 768px){
        padding : 28% 0 40px;
    }

    h2 {
        // text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: #000;
        margin: auto;
        padding-bottom: 20px;
    }

    .lead{
        font-size: 22px;
        font-weight: 300;
        color: #000;
    }

    h3{
        width: 280px;
        margin: auto;
        text-align: center;
        color: #fff;
        margin-bottom: 50px;
    }

    .text-bg{
        position: absolute;
        color: #fff;
        font-size: 165px;
        font-weight: 800;
        top: -100px;
        left: 20%;
        opacity: 0.1;
    }

    .wrap-vid{
        margin: 80px 30px;
        border-radius: 12px;
        overflow: hidden;
    }

    .about-service-list{
        margin: 0;
        padding: 30px 0 0 0;
        li{
            width: 19%;
            display: inline-block;

            @media (max-width: 768px){
                width: 100%;
            }
            // margin-right : 10px;
            div{
                // width: 100%;
                display: block;
                background: #fff;
                border-radius: 20px;
                text-align: center;
                margin-right : 15px;
                margin-bottom : 15px;
                padding: 20px 15px;
                p{
                    margin:0;

                    &.lead{
                        font-size: 16px;
                        font-weight: 500;
                        height: 50px;
                    }

                    img{
                        width: 100px;
                    }

                    &:last-child{
                        font-size: 14px;
                    }
                }

                
            }
            
            &:last-child{
                div{
                    margin-right: 0;
                }
            }

            &:first-child{
                div{
                    p{
                        // height: 100px;
                        img{
                            width: 64px;
                        }
                    }
                }
            }
        }
    }

    @radius-5 : 500px;
    @radius-2 : 300px;
    @about-color: #C8E7FF;
    // circle
    .blue-circle{
        border-radius: @radius-5;
        // border-color: #C8E7FF;
        // border-width: 50px;
        border: 50px solid  @about-color;
        height: @radius-5;
        width: @radius-5;
        position: absolute;
        opacity: 0.2;
        
    }

    .blue-circle-2{
        border-radius: @radius-2;
        // border-color: #C8E7FF;
        // border-width: 50px;
        border: 50px solid  @about-color;
        height: @radius-2;
        width: @radius-2;
        position: absolute;
        opacity: 0.2;
    }

    .pos-1{
        top: 23%;
        left: -19%;
    }

    .pos-2{
        top: 66%;
        right: 14%;
    }

    .spacer{
        padding-top: 150px;

        @media (max-width: 768px){
            padding-top: 0;
        }
    }

}

.block-page-title{
    padding-top : 30px;
    padding-bottom : 30px;
    h2{
        font-size: 32px;
    }

    @media (max-width: 768px){
        padding-top : 0px;
    }
}

@media (min-width: 768px){
    .about-block{
        // padding : 30px 0;
        font-size: 18px;
        h2{
            font-size: 32px;
        }
        p{
            font-size: 18px;
        }
    
        ul {
            li{
                font-size: 18px;
                a{
                    font-size: 18px;
                }
            }
        }
    
    }

    
}

.google-container{
    .eagr-reviews-skeleton-component{
        margin: auto;
    }
}

@media (max-width: 768px){
    .pull-image-right{
        flex-direction: column-reverse;
    }
}


.form-box{
    background: #F9F9F9;
    border-radius: 20px;

    padding : 20px;

    .form-box-container{
        width: 100%;
        b{
            font-size: 24px;
            font-weight: 300;
            color: #000;
        }
        i{
            float: right;
            font-size: 24px;
            position: relative;
            top: 9px;
            color : #76CDFF;
        }
    }

    .file-input{
        border : none;
        background: none;
    }
}

.create-lead-block{

    .form-check{
        padding-bottom : 20px;
    }
}


.updateLandingContent{
    position: absolute;
    top: 0;
    padding: 5px 10%;

    .lead,h1,h3{
        font-weight: 800;
        text-shadow: 0px 0px 2px #fff;
    }

    .lead{
        font-size: 18pt;
        line-height: 27px;
        padding-right: 58px;
    }

    h1{
        font-size : 43pt;
    }

    h3{
        font-size : 20pt;
        margin-bottom: 0px;
    }
}
.btn-pull-right{
    float : right;
    margin : 0px 20px 10px;
}

#accordion{
    .panel-title{
        display: block;
        height: 40px;

        a{
            font-size: 18px;
            color : @blue;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

@media (max-width: 930px){

    .con{
        width : 100%;
    }
}

@media (max-width: 840px){

    .updateLandingContent{
        h1{
            font-size : 39pt;
        }
    
        h3{
            font-size : 18pt;
            margin-bottom: 0px;
        }
    }
}

@media (max-width: 768px){

    .container {
      max-width: unset;
    }


    .con {
        width: inherit; 
        margin: auto;
    }

    .updateLandingContent{
        position: relative;
        padding: 0 15px;
        #continent{
            position: relative;
            // margin:auto;
            height: auto;
            width: auto;
            right: unset;
            top: unset;
        }

        .lead{
            font-size: 12pt;
            line-height: 27px;
            padding-right: inherit;
        }
    
        h1{
            font-size : 20pt;
        }
    
        h3{
            font-size : 16pt;
            margin-bottom: 0px;
        }
    }

    .bgImage{
        padding : 15px;
        width : 100%;
    }

    .inlineFlex{
        display: flex;
        flex-wrap: nowrap;

        padding: 10px;

        .col-sm-10{
            width : 75%;
            padding: 0;
        }
        .col-sm-2{
            width : 25%;
            padding: 0;
            
            button{
                // float: right;
                margin-left : 10px;
            }

        }
    }

    .card{
        margin-bottom : 10px;

        .card-body{
            overflow: scroll;

            .icon-wrapper{

                float : unset;
                // span{
                //     right : 30%;
                // }
            }

        }
    }

}


@media (max-width: 576px){
    .container {
        max-width: unset;
    }

    .card{
        // margin-bottom : 10px;

        .card-body{
            // overflow: scroll;

            .icon-wrapper{

                // float : unset;
                span{
                    right : 35%;
                    left : unset;
                }
            }

        }
    }

    .btn-pull-right{
        float : none;
        margin : 0;
        width: 100%;

        button, .btn{
            width: 100%;
        }
    }

    #accordion{
        .panel-title{
            display: block;
            height: auto;
    
            a{
                font-size: 14px;
                color : #f00;
                font-weight: 600;
                text-decoration: none;
                text-align : left;
                display: block;
                margin-bottom: 10px;
                
                .btn{
                    width: 100%;
                    
                }
            }
        }
    }

    .form-check {
        padding-left: 0;
    }
}

.loader-wrap{
    padding: 40px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;
    min-height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-content{
        min-width : 300px;
        background : #fff;
        font-size: 26px;
        height : 75px;
        padding : 20px;
    }
}



.flag-container{
    border-radius: 139px;
    overflow: hidden;
    width: 130px;
    height: 130px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 300px;

    margin: auto;

    box-shadow: 0px 0px 5px #d8d8d8;
}

.flag-pull-right{
    // float: left;
    margin: auto;
}

.tbl-service {
    td{
        vertical-align: middle;

        h2, h3 {
            color: #3490dc;
            font-weight: 600;
        }

        p{
            margin-bottom : 0px;
            font-weight: 600;
        }
    }
}

.service-columns{
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 30px;
    
    p{
        .fa{
            font-size: 32px;
            color: #3490dc;
        }
    }
}

@blue: #4297ec;
@green: #6ad273;
@violet: #986ad4;
.office-service{
    display: flex;
    flex-direction: column;
    height : 100%;
    padding-bottom : 20px;
    .office-headings{
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
    }

    .bg-blue{
        background: @blue;
    }

    .bg-green{
        background: @green;
    }

    .bg-violet{
        background: @violet;
    }

    .header-space{
        // margin-top: 30px;
        height: 3px;
    }

    .price {
        font-size : 24px;
        font-weight: 600;

    }

    .sub-heading{
        color : #999;
        font-style: italic;
    }
    ul{
        margin : 0;
        padding: 0;

        li{
            list-style: none;
            display: flex;
            margin-bottom : 10px;
        
            span{
                width : 15%;
            }
            p{
                margin : 0;
                text-align : left;
                width : 85%;
            }
        }
    }

    .blue{
        .fa{
            color : @blue;
        }
    }
    .green{
        .fa{
            color : @green;
        }
    }
    .violet{
        .fa{
            color : @violet;
        }
    }

    .btn-blue {
        color: #fff;
        background-color: @blue;
        border-color: @blue;
    }

    .btn-green {
        color: #fff;
        background-color: @green;
        border-color: @green;
    }

    .btn-violet {
        color: #fff;
        background-color: @violet;
        border-color: @violet;
    }
    form{
        margin-top: auto;
        input{
            font-weight : 600;
            font-size : 16px;
        }
        
    }
}

.coins{
    float: right;
    color: #1475a9;
    font-weight: 600;
}

.referral-link{
    color : #1475a9;
}
.ico-eu, .ico-us{
    display: inline-block;
    /* float: right; */
    background: #1475a9;
    color: #fff;
    padding: 12px 5px;
    font-size: 10px;
    border-radius: 20px;
}
.ico-eu{
    background: #78c6ff;
}


.search-page{
    text-align: center;
    .pagination{
        justify-content: center;
            li{
                padding : 0 3px;

                a{
                    background : #1475a9;
                    color : #fff;
                    padding : 5px 7px;
                }
            }
       
    }
}
.headContent{
    p{
        &:first-child{
            color : #ff0000;
            text-align: center;
            text-transform: uppercase;
        }
        
        
    } 
}

.list-group{
    .rating-container{
        .clear-rating, .caption {
            display: none;
        }
    }
}

.rating-container .caption{
    margin-top: -11px;
}

.rating-container .clear-rating{
    display: none;
}

// modal transparent
.transparent-modal{
    // display : flex !important;
    align-items: center;

    .modal-dialog{
        // margin-bottom : 25%;
    }
    .modal-content{
        background: rgba(0,0,0,0.5);
        border: none;
        // margin-top : 20%;
        .modal-header{
            border: none;
            padding : 0;
            height: 0;
            .modal-title{
                display: none;
            }

            .close{
                padding: 6px 7px;
                border-radius : 21px;
                border : 1px solid #fff;
                top: -5px;
                position: relative;
                right: -5px;
                background: #fff;

                span{
                    color: #000;
                    font-size: 35px;
                    line-height: 20px;
                    
                }
            }
        }
        .modal-footer{
            display: none;
        }

        .modal-body{
            color : #fff;
        }
    }
    
}

.transparent-modal{
    &.show{
        display : flex !important;
    }
}


.selected-classes-list{
    li{
        display : inline-block;
        margin-right:20px;

        &::after{
            content : ",";
        }

        &:last-child{
            &::after{
                content : "";
            }
        }

        .fa{
            padding-left: 10px;
            color: red;
            position: relative;
            top: -6px;
            left: -6px;
        }
    }
}

.input-add{
    max-width:145px;
    display:inline-block
}

.hide-class{
    display: none;
}

.reset{ 
    float: right;
    padding-bottom : 5px;
}

.btnRemoveClass{
    color: #e3342f;
    cursor: pointer;
}

.policy{
    font-size: 12px;
    font-style: italic;
    text-align: justify;

    a{
        font-size: 12px;
    }
}

.new-add-class-container{
    .dropdown-toggle{
        .bs-caret{
            display:none;
        }
    }

    .table{
        tr {
            td{
                border: none;
            }
        }
    }
}

.bootstrap-select{
    .dropdown-toggle{
        border: 1px solid #ced4da;

        .filter-option{
            font-style: italic;
            text-align: center !important;
            // color: #e3332e;
        }

        &.btn-default{
            color: #fff;
            background-color: #3490dc;
            border-color: #3490dc;
        }
    }
    .dropdown-menu.show{
        
        .dropdown-menu.inner{
            display: inline-block;
            padding-bottom: 30px;

            
            .hidden{
                display:none;
            }
            .active{
                display: block;
            }

            li{
                

                &.disabled{
                    background: #ced4da;
                }

                a{
                    display: block;
                    padding : 5px 15px;
                }
            }
        }
    }
}

// referral

.credit{
    color : #00a65a;
}

.processing{
    color : #e3342f;
}

.done{
    color : #1475a9;
}

.system-content{
    padding-top : 15px;
    p{
        img{
            max-width : 100% !important;
            height : auto !important;
        }

        span.marker{
            background-color: #daeeff;
        }
    }

    blockquote{
        border-left: 5px solid #1475a9;
        padding-left: 15px; 
    }

    
}

.author{
    font-size: 12px;
    color: #5c5c5c;
    border: 1px solid #dfdfdf;
    padding: 20px;
    max-width: 40%;
    border-radius: 4px;
    margin: 20px 0 40px;
}

.blog-list{
    .description{

    }
    p{
        em{
            font-size : 12px;
            color : #5c5c5c;
        }
    }

}

.share-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin-btn img{
    width : 107px;
    margin: 0 10px;
}
@color-yt-active : #ffa902;
@color-yt-inactive : #7a0101;
// youtube subscribe page styles
.youtube-subscribe-container{
    background: -webkit-gradient(linear,left bottom,left top,color-stop(-3.94%,#830202),color-stop(80.69%,#b70000)),#ae0a0a;
    background: linear-gradient(1turn,#830202 -3.94%,#b70000 80.69%),#ae0a0a;
    padding : 30px;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -22px;
    margin-bottom: -20px;

    h1{
        color: #fff;
        font-size: 40px;
    }
    h2{
        font-size: 40px;
        color: #fff;
        b{
            font-size: inherit;
        }
    }

    .step{
        border-radius: 50px;
        border: 2px solid @color-yt-inactive;
        font-size: 40px;
        font-weight: bold;
        color: @color-yt-inactive;
        position: absolute;
        top: 0%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: calc(50% - 50px);

        .fa{
            font-size: 40px;
        }

        &.active{
            border: 2px solid @color-yt-active;
            color: @color-yt-active;
        }

        &.visited{
            border: 2px solid @color-yt-active;
            color: @color-yt-active;
        }
    }

    .step-line{
        z-index: 0;
        @media (min-width: 768px){

            &:after{
                content:" ";
                width: calc(100% - 100px);
                height: 2px;
                display: block;
                position: absolute;
                left: calc(50% + 50px);
                top: 50px;
                z-index: 0;
    
                background: -webkit-gradient(linear,right top,left top,from(#7a0101),to(#ffa903));
                background: linear-gradient(270deg,#7a0101,#ffa903);
            }

            &.initial{
                &:after{
                    background: -webkit-gradient(linear,right top,left top,from(@color-yt-inactive),to(@color-yt-inactive));
                    background: linear-gradient(270deg,@color-yt-inactive,@color-yt-inactive);
                }
            }
    
            &.visited{
                &:after{
                    background: -webkit-gradient(linear,right top,left top,from(@color-yt-active),to(@color-yt-active));
                    background: linear-gradient(270deg,@color-yt-active,@color-yt-active);
                }
            }
    
            &.active{
                &:after{
                    background: -webkit-gradient(linear,right top,left top,from(@color-yt-inactive),to(@color-yt-active));
                    background: linear-gradient(270deg,@color-yt-inactive,@color-yt-active);
                }
            }
        }
        

        
    }

    .con-steps{
        min-height: 100px;
        position: relative;
    }

    .content-step{
        padding-top: 120px;

        @media (max-width: 768px){
            padding-bottom: 40px;
        }

        .btn-register{
            font-size: 24px;
            padding:10px 50px;
            background: @color-yt-active;
            color : #fff;

            &:hover{
                // box-shadow: 0 15px 40px rgba(0,0,0,.2), inset 0 10px 30px red, inset 0 -10px 30px rgba(0,0,0,.25);
            }
        }

        &.hidden{
            display: none;
        }

        .label-steps{
            color : #fff;
            padding-bottom:30px;
            font-size: 18px;
        }

        &.disabled{
            opacity: 0.5;
        }

        .code-claim-block, .code-claim-block-visited{
            color: @color-yt-active;
            border: 2px solid @color-yt-active;
            padding: 20px 10px;
            border-radius: 8px;
            max-width: 300px;
            margin: auto;
            font-size: 18px;
            display : none;
            p{
                font-size: 18px;
            }

            strong{
                font-size: 18px;
            }
        }

        .code-claim-block-visited{
            display: block;
        }
    }
    
}

.trademarks-block-services{
 
    
    h2{
        text-align: center;
   
        margin-bottom: 25px;
        color : #1475a9;
        font-weight: 600;
    }

    h4{
        text-align: center;
        // padding:10px;
    }

    ul {
        li{
            &.active-bg{
                background: #f1f0f0;
                border: 0;
                border-radius: 0;
                text-align: center;
                padding: 0.75rem 1.25rem;
            }

            padding: 0;

            a{
                display: block;
                padding: 0.75rem 1.25rem;

                &:hover{
                    text-decoration: none;
                }
            }

            span{
                padding: 0.75rem 1.25rem;
                color: #3490dc;
                text-decoration: none;
                background-color: transparent;
                display: block;
            } 
        }
    }

}

.service-block{
    hr{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h3{
        color : #1475a9;
    }
}

ul.rev-arrow, ul.rev-arrow-block {
    margin: 0;
    padding : 0;
    li{
        list-style: none;
        background: url(/images/ico_li.png) no-repeat 0px 7px;
        background-size: 18px;
        padding-left: 24px;
        font-weight: 600;
        margin-right: 14px;
        margin-bottom: 10px;
        display: inline-block;

        span{
            display: block;
            color: #686868;
        }
    }
}

ul.rev-arrow-block {
    li{
        display: block;
        background: url(/images/ico_li.png) no-repeat 0px 3px;
        background-size: 18px;
    }
}

ul.rev-arrow-v2 {
    margin: 0;
    padding : 0;
    li{
        width: 45%;

        @media (max-width: 768px){
            width: 100%;
        }

        list-style: none;
        background: transparent linear-gradient(246deg, #00C6FF 0%, #2F80ED 100%) 0% 0% no-repeat padding-box;
        // background-size: 18px;
        padding: 15px 24px 15px 15px;
        display: inline-block;
        margin-right: 15px;
        border-radius: 28px 28px 0px 28px;
        margin-bottom: 25px;


        a{
            color : #fff;
            font-size: 14px !important;
            b{
                font-size: inherit;
                color : inherit;
                padding-right: 20px;
            }

            &:hover {
                text-decoration: none;
            }

            img{
                width : 15px
            }
        }
    }
}

.btn-black{
    background: #000;
    color: #fff;
    font-size: 18px;
    border-color: #000;

    &:hover{
        background: #4c4b4b;
        color: #fff;
        font-size: 18px;
        border-color: #4c4b4b;
    }
}

.btn-white{
    background: #fff;
    color: #000;
    font-size: 18px;
}

.btn-primary{
    padding : 10px 20px;
}

.btn-transparent{
    border-radius: 10px;
    padding: 20px 80px;
    background : transparent;
    color : #008BD4;
    border-width: 3px;
}

.img-fluid {
    max-width: 100%;
    height: 400px;
}

.btn-register{
    background: transparent linear-gradient(246deg, #00C6FF 0%, #2F80ED 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    // padding: 20px 40px;
    border: 0;
}

.custom-frm{
    padding : 0 20px 0 0;
    .form-group{
        position: relative;
        label {
            font-size: 18px;
            position: absolute;
            top: 12px;
            left: 12px;
            transition: top 0.7s;
            z-index: 0;
            color: #d0d0d0;
            &.top{
                z-index: 0;
                top:-10px;
                background: #fff;
            }
        }

        input, textarea{
            color : #000;
            padding : 24px 10px;
            background-color: transparent;
            font-size: 18px;
        }
    }
}

.tbl-contact{
    margin-bottom: 10px; 
    text-align: left; 
    line-height: 30px; 
    font-weight: bold;

    tr{
        td{
            padding: 5px 10px;
            font-size: 18px;
            font-weight: 300;

            b{
                padding: inherit;
                font-size: inherit;
                font-weight: inherit;
            }

            &:first-child{
                font-weight: 500;
            }
        }
    }
}

.h1-heading{

    span{
        font-family: inherit;
        color: inherit;
        max-width: 800px;
        margin: auto;
        font-size : 52px;
        display: block;
        color: #fff;

        @media (max-width: 768px){
            font-size : 22px;
        }
    }

    // border-bottom: 1px solid #D8D8D8;
    font-size : 32px;
    text-align: center;
    // padding-top: 20px;
    padding-bottom: 20px;

    
}

.prices-block{
    .card{
        border: 0;
        .card-body{
            padding : 0;
    
            .nav-tabs{
                border : none;
                background: #008BD4;
                border-radius: 25px 25px 0px 0px;
    
                .nav-link{
                    border : none;
                    border-radius: 0;
                    color: #fff;
                    padding: 10px 20px;

                    &.active{
                        background: #76CDFF;
                    }
                }

                
            }

            .table th, .table td{
                border : 0;
                padding : 15px;
                
            }

            .table{
                tr{
                    &:hover{
                        background: #E4F5FF;
                    }
                }
            }

            .tab-content{
                border: 1px solid #d8d8d8;
                border-radius: 0px 0px 8px 8px;
                // padding: 10px;
            }
        }
    }
    
}


.step-block{
    padding-top: 30px;
    h2{

        padding-bottom: 10px;
        border-bottom: 1px solid #D8D8D8;

        span{
            // color: inherit;
            // font-size: inherit;
            background: #008BD4;
            border: 1px solid #008BD4;
            box-sizing: border-box;
            border-radius: 6px;
            font-size: 18px;
            padding: 5px 10px;
            color: #fff;
            display: inline-block;
            position: relative;
            top: -8px;
            margin-right: 20px;
        }

        .btn-primary{
            padding: 7px 25px;
            border-radius: 30px;
        }

        .btn-pull-right {
            float: right;
            margin: 0;
            position: relative;
            top: -3px;
        }
    }
}

ul.theme-default {
    li{
        list-style: none;
        position: relative;
        &::before{
            content: "\2022"; 
            color: @blue; 
            font-weight: bold;
            display: inline-block; 
            width: 1em; 
            margin-left: -1em;
            position: absolute;
            left: -10px;
        }
        
    }
}

.tbl-blue-container{
    border-radius: 25px 25px 4px 4px;
    overflow: hidden;
    border: 1px solid #dee2e6;
    width: 100%;

    @media (max-width: 768px){
        overflow: scroll;
    }

    .tbl-blue{
        margin : 0;
        thead{
            border: none;
            background: #008BD4;
            color : #fff;
            tr {
                td{
                    color : #fff;
                }
            }
            
        }

        tbody{
            tr{
                td{
                    border-top: 1px solid #dee2e6;
                    padding: 15px;
                    vertical-align: middle;

                    &.gray{
                        background: #F9F9F9;
                    }
                }
            }
        }
        tr {
            td {
                border-top: none;
            }
        }
    }
}

#filing_form{
    padding-top: 20px;
}

.show-pop{
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;

    .contain-select-class{
        max-width: 500px;
        padding: 15px;
        margin: 30vh auto;
    }

    .filter-option{
        color: #fff;
    }

    .btn-close-class{
        background: #000;
        border-radius: 13px;
        padding: 5px 7px;

        cursor: pointer;
    }
}

.btn-rounded-primary-light{
    background: #76CDFF;
    padding: 7px 25px;
    border-radius: 30px;
    border : 1px solid #76CDFF;
}

.btn-rounded-primary{
    padding: 13px 25px;
    border-radius: 30px;
}

.tbl-contact-info{

    margin-bottom : 15%;

    th{
        vertical-align: middle;
        text-align: right;

        border-top: none;
        border-right : 1px solid #C4C4C4;
    }

    td{
        text-align: left;

        border-top: none;
        

    }

    th,td{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.lead{
    font-size: 24px;
    color: #000;
    font-weight: 300;
}

.ol-description{
    // padding-top: 30px;
    padding-left: 0;
    li{
        position: relative;
        list-style: none;
        padding: 20px 20px 20px 80px;
        // padding-top: 30px;
        margin-bottom: 20px;;
        h3{
            font-size: 48px;
            color: #686868;
            position: absolute;
            left: 9px;
            top: 12px;
            opacity: 0.2;
        }

        &:nth-child(even) {
            background : #f9f9f9;
            border-radius: 10px;
        }
    }

}

.privacy-list{
    & > li{
        font-size: 24px;
        color: @blue;
        font-family: 'Roboto Slab', serif;
        font-weight: 600;
        margin-bottom: 20px;

        & > ol{
            padding-top: 20px;
            li{
                font-weight: 600;
                color: #686868;
                font-size: 20px;
                
            }
        }
    }
}

.search-service{
    border-radius: 26px;
}

.tbl-service{
    margin-top: 20px;
    tr {
        td{
            border-top: none;

            &:first-child{
                color : @blue;
                font-weight: 600;

                a{
                    color : @blue;
                    font-weight: 600;
                }
            }

            a{
                text-decoration: none;
            }
        }
    }
}




.custom-card{
    padding-top: 30px;
    .card-header{
        background: none;
        border: none;
        border-radius: 0 !important;
        padding: 0;
        h3{
            cursor: pointer;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .card{
        border-right : none;
        border-left : none;
    }

}

.resource-block{
    h4{
        strong{
            display: block;
            padding-bottom: 5px;
        }
        padding-bottom: 10px;
    }
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    color: #fff;
}

.opposing{
    display: none;
}

.img-responsive{
    width: 100%;
}

#search{
    .search-block{

        padding-top: 20px;
        position: relative;
        max-width: 300px;

        input{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 20px;
            padding: 20px 20px 20px 40px;
            font-size: 16px;

            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #f2f2f2;
            }
            ::-moz-placeholder { /* Firefox 19+ */
                color: #f2f2f2;
            }
            :-ms-input-placeholder { /* IE 10+ */
                color: #f2f2f2;
            }
            :-moz-placeholder { /* Firefox 18- */
                color: #f2f2f2;
            }
        }

        button{
            position: absolute;
            top: 23px;
            left: 8px;
            z-index: 4;
            border: 0;
            background: transparent;
            color: #F2F2F2;
            font-size: 20px;

        }
    }
    
}


// used in container for boxing contents
@colorCircleHead: transparent linear-gradient(226deg, #6DD5ED 0%, #4B81EB 100%) 0% 0% no-repeat padding-box;
.box-bg-container {
    padding: 20px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 41px #0000000D;
    border-radius: 10px;
    margin-bottom: 60px;

    &:before{
        content:"";
        display: block;
        width : 300px;
        height : 300px;
        border-radius: 300px;
        background: @colorCircleHead;
        // border: 50px solid @colorCircleHead;
        position: absolute;
        top: 150px;
        left: 10%;
        opacity: 0.1;
        z-index: -1;
    }

    &:after{
        content:"";
        display: block;
        width : 400px;
        height : 400px;
        border-radius: 400px;
        background: @colorCircleHead;
        // border: 50px solid @colorCircleHead;
        position: absolute;
        top: 160px;
        right: 7%;
        opacity: 0.1;
        z-index: -1;
    }
}

.glob-notification{
    display: inline-block;
    float: right;
    position: relative;
    cursor: pointer;

    span{ 
        position: absolute;
        top: -10px;
        font-size: 10px;
        color: #fff;
        background: #e3342f;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        right: -10px;
    }
} 

.glob-notification-content{
    position: absolute;
    left: 80%;
    width: 100%;
    z-index: 9999;

    .list-group{
        .list-group-item{

            &.active{
                a{
                    color: #fff;
                }
            }
            padding: 8px;
            a{
                // color: #fff;
                font-size: 12px;
                &:hover{
                    text-decoration: none;
                }
            }

            
        }
    }

    .card-body{
        padding : 5px;
    }
}

