<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body >

<header>
    
    <%- include('../partials/header'); %>
</header>

<main>


<!-- main block Desktop -->
<div class="row block-welcome-1">

	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 align-self-center">
				<%= title %>
				<!-- <div class="circle-1"></div> -->
				<table>
					
					<% continents.forEach(function(continent,key) { %>
						<% console.log( continent ) %>
					   <tr>
						 <td><%= continent['id'] %></td>
						 <td><%= continent['name'] %></td>
					   </tr>
					<% }) %>
				</table>

				<div class="network-box">
					<h2>Our network of Experienced Trademark Attorneys</h2>
					<!-- <span class="title-separator"></span> -->
					<p>in 195 Countries and Treaty Regions can provide you with fast, simple, and cost-efficient trademark filling services</p>

					<!-- SEARCH BOX -->
					<div id="search">
						<form method="POST" action="/search/case">
						
							<div class="input-group search-block">

								<button type="submit">
									<i class="fa fa-search"></i>
								</button>
								<input type="text" class="form-control" name="case_number" placeholder="Search For Case #" required>

							</div>

								

								
						</form>
					</div>

				</div>

				
			</div>

			<div class="col-12 col-md-6 ">
				<!-- <div class="circle-2"></div> -->
				<!-- <img src="/images/h_fold1.png" alt="Register Trademark" class="img-responsive send-up" > -->
			</div>

		</div>
	</div>

	

</div>


<!-- 2nd block -->

<div class="row d-none d-md-block d-lg-block d-xl-block">
	<div class="col-12 ">
		
		<div class="network-box-form">
			<div id="continent" class="box-form">
				<h5> I would like to register a trademark in : <span></span> </h5>
				<!-- <div class="box-search-rounded-select" aria-controls="continentsToggle">
					<span id="selectedContinent">Europe</span>
				</div> -->

			
				
			</div>

			<div class="country-contents">
				
			
			

				
				
			</div>

		</div>

		

	</div>
</div>


<!--  block about -->
<div class="bg-gray">
	
	<div class="about-bg">
		<div class="container" >

			<div class="row about-block align-items-center">
				
				<div class="blue-circle pos-1"></div>
				<div class="blue-circle-2 pos-2"></div>
				
				<div class="col-12 col-md-12 text-center">
					<h2 class="">Trademark Registration Experience</h2>
					
				
					<p class="lead">We have a team of lawyers, with years of experience in Trademark Registrations, which allows us to assure you:</p>

					<span class="title-separator"></span>

					<!-- <ul class="rev-arrow">
						<li>Timely information <span>register faster</span></li>
						<li>Deal with Trademark <span>objections as required</span></li>
						<li>Transparent status updates <span>no hidden fees</span></li>
						<li>Absolute confidentiality <span>through online portal</span></li>
						<li>Competent professionals <span>Register Lawyers</span></li>
					</ul> -->

					
					<ul class="about-service-list">
						<li><div>
							<p style="padding-top:36px;"><img src="/images/v2-assets/timely-information.svg"></p>
							<p class="lead">Timely information</p>
							<p>Register faster</p>
						</div></li>

						<li><div>
							<p><img src="/images/v2-assets/deal-w-trademark.svg"></p>
							<p class="lead">Deal with Trademark</p>
							<p>Objections as required</p>
						</div></li>

						<li><div>
							<p><img src="/images/v2-assets/transparent-status-updates.svg"></p>
							<p class="lead">Transparent status updates</p>
							<p>Objections as required</p>
						</div></li>

						<li><div>
							<p><img src="/images/v2-assets/absolute-confidentiality.svg"></p>
							<p class="lead">Absolute confidentiality</p>
							<p>Through online portal</p>
						</div></li>

						<li><div>
							<p><img src="/images/v2-assets/competent-professionals.svg"></p>
							<p class="lead">Competent professionals</p>
							<p>Register Lawyers</p>
						</div></li>

					</ul>
					<p class="spacer"></p>
				</div>

				<!-- <div class="col-12 col-md-6 text-center">
					<img src="/images/img19.jpg" class="img-fluid" />
				</div> -->

				<!-- NEXT BLOCK HERE -->
				
				<div class="col-12 col-md-6">
					<h2>What We Can Do For You</h2>
					<span class="title-separator"></span>

					<p class="lead">TradeMarkers provides trademark and intellectual property protection for brands used in the United Kingdom and internationally. We work with a wide range of clients, from small businesses establishing a corporate identity to large companies with a portfolio of brands.</p>
					
				</div>

				<div class="col-12 col-md-6">
					<ul class="rev-arrow-v2">
						<li> <a href="/countries">Trademark <b>Study</b><img src="/images/v2-assets/ui.svg"></a></li>
						<li> <a href="/countries">Trademark <b>Registration</b><img src="/images/v2-assets/ui.svg"></a></li>
						<li> <a href="/monitoring-service">Trademark <b>Monitoring</b><img src="/images/v2-assets/ui.svg"></a></li>
						<li> <a href="/office-service">Office Action <b>Response</b><img src="/images/v2-assets/ui.svg"></a></li>
					</ul>
				</div>

				<div class="col-12">
					<a href="/countries" class="btn btn-black btn-rounded-primary">Register Trademark</a>
				</div>

			</div>
			

		</div>

		
		<!-- <svg style="margin-top:-200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 240"><path fill="#FFF" fill-opacity="1" d="M0,192L80,202.7C160,213,320,235,480,234.7C640,235,800,213,960,197.3C1120,181,1280,171,1360,165.3L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg> -->
	</div>
</div>

<!--  block video -->
<div class="bg-video">
	<div class="container">
		<div class="row about-block align-items-center">
			

			

			

			<div class="col-12 col-md-6">
				<span class="text-bg">?</span>
				<h3>What is a Trademark? How Do I Register One?</h3>
				<!-- <span class="title-separator"></span> -->
				<div class="wrap-vid">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1Ga6zI-GPZM" allowfullscreen></iframe>
				</div>
				</div>
			</div>

			<div class="col-12 col-md-6">
				<span class="text-bg">!</span>
				<h3>Trademark Classes - All You Need to Know!</h3>
				<!-- <span class="title-separator"></span> -->
				<div class="wrap-vid">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZkgvkoGbNls" allowfullscreen></iframe>
				</div>
				</div>
			</div>

			<div class="col-12 text-center" style="padding-bottom: 122px;">
				<a href="/videos" class="btn btn-white btn-rounded-primary">More Videos</a>
			</div>

			

			<!-- <div class="col-12 col-md-6">
				<img class="img-fluid"  src="/images/img20.jpg" />
			</div> -->

			


		</div>
	</div>
</div>

<!--  block about -->
<div class="bg-contact">
	<div class="container">
		<div class="row">
			
			<div class="col-12 col-md-6">
			
				<div class="contact-div">
					<h2>We can do it all</h2> 
					
					<p class="lead">Get in touch for a free consultation.</p>
					<span class="title-separator"></span>
					<!-- <span class="title-separator"></span> -->
				</div>
				<form class="custom-frm" method="POST" action="/contact">
	
					<div class="form-group">
						<label>Name</label>
						<input type="name" class="form-control" id="name" value="" name="name" required>


					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" value="" id="email" name="email" required>

					</div>
					<div class="form-group">
						<label for="phone">Phone</label>
						<input type="text"  class="form-control" value="" id="phone" name="phone" required>

		
					</div>
					<div class="form-group">
						<label for="msg">Message</label>
						<textarea class="form-control" value="" rows="7" name="message" required></textarea>

			
					</div>

					<button type="submit" class="btn btn-primary btn-register" style="font-size:18px;width:100%">Submit</button>
				</form>

			</div>


			<div class="col-12 col-md-6 ">

				<h2>Talk to an expert</h2>
				
				
				<p class="lead">We've got phone and chat support available for you:</p>

				<span class="title-separator"></span>

				<table class="tbl-contact">
					<tr>
						<td>Monday:</td>
						<td >Friday : 7am to 7pm (EST)</td>
					</tr>
					<tr>
						<td>Saturday:</td>
						<td >Closed</td>
					</tr>
					<tr>
						<td>Sunday:</td>
						<td >Closed</td>
					</tr>
					<tr>
						<td>Toll-Free:</td>
						<td ><b style="color: #1475A9;">1-800-293-3166</b></td>
					</tr>
					<tr>
						<td>Office:</td>
						<td><b style="color: #1475A9;">212-468-5500</b></td>
					</tr>
					<tr>
						<td>Fax:</td>
						<td><b style="color: #1475A9;">212-504-0888</b></td>
					</tr>
				</table>

				<a href="javascript:$zopim.livechat.window.show();" class="btn btn-black" style="padding: 10px 20px;border-radius: 30px 30px 0px 30px;">
				Chat <span class="fa fa-comments" style="font-size: 21px; padding: 0px 10px; color: rgb(255, 255, 255);"></span></a>
				
			</div>

		</div>
	</div>
</div>



</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>